<%= render "devise/shared/error_messages", resource: resource %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <section class="container-fluid">
    <section class="row justify-content-center">
      <section class="col-sm-12 col-md-8 col-lg-7 col-xl-6">
        <main class="form-container mt-5 mb-5">
          <div class="form-group">
            <h1 class="">Редактирование <%= current_user.name %></h1>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1"><%= t('activerecord.attributes.user.email') %></label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t('activerecord.attributes.user.email'), class: 'form-control' %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>В настоящее время ждем подтверждения: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="form-group">
            <label for="exampleInputPassword1"><%= t('activerecord.attributes.user.password') %></label>
            <% if @minimum_password_length %>
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "#{t('activerecord.attributes.user.password_min_letterts_start')} #{@minimum_password_length} #{t('activerecord.attributes.user.password_min_letterts_finish')}", class: 'form-control' %>
            <% else %>
              <%= f.password_field :password, autocomplete: "new-password", placeholder: t('activerecord.attributes.user.password'), class: 'form-control' %>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: t('activerecord.attributes.user.password_confirmation'), class: 'form-control' %>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1"><%= t('activerecord.attributes.user.current_password_write') %></label>
            <%= f.password_field :current_password, autocomplete: "current-password", placeholder: t('activerecord.attributes.user.current_password'), class: 'form-control' %>
          </div>
          <div class="text-center">
            <%= f.submit t('activerecord.attributes.user.edit'), class: 'btn btn-primary m-1' %>
          </div>
          <div class="col-md-12 ">
            <div class="login-or">
              <hr class="hr-or">
              <span class="span-or">или</span>
            </div>
          </div>
          <div class="text-center">
            <%= link_to t('activerecord.attributes.user.delete_profile'), registration_path(resource_name), data: { confirm: "Вы действительно хотите удалить #{current_user.name}?" }, method: :delete, class: 'btn btn-sm btn-danger m-1' %>
          </div>
          <div class="text-center">
            <%= link_to t('activerecord.attributes.user.back'), :back, class: 'btn btn-link m-1' %>
          </div>
        </main>
      </section>
    </section>
  </section>
<% end %>