<div class="buffer-buttom event-form">
  <p class="event-comments"><%= comment.body %></p>
  <div class="event-date">
    <span>
      <% if comment.user.present? %>
        <%= render partial: 'users/user', object: comment.user %>
      <% else %>
        <strong class="p-lg-2"><%= comment.user_name %></strong>
      <% end %>
    </span>
    <em><%= l comment.created_at, format: :short %></em>
  </div>
  <% if current_user_can_edit?(comment) %>
    <div class="event-actions">
      <%= link_to(
            fa_icon('trash'), event_comment_path(comment.event, comment),
            method: :delete, data: { confirm: t(".destroy_confirm") }
          ) %>
    </div>
  <% end %>
</div>