<%= render "devise/shared/error_messages", resource: resource %>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <section class="container-fluid">
    <section class="row justify-content-center">
      <section class="col-sm-12 col-md-8 col-lg-7 col-xl-6">
        <main class="form-container mt-5 mb-5">
          <div class="form-group">
            <h2 class="text-center">Изменение пароля</h2>
            <%= f.hidden_field :reset_password_token %>
            <div class="form-group">
              <label for="exampleInputPassword1">Пароль</label>
              <% if @minimum_password_length %>
                <%= f.password_field :password, autocomplete: "new-password", placeholder: "#{t('activerecord.attributes.user.password_min_letterts_start')} #{@minimum_password_length} #{t('activerecord.attributes.user.password_min_letterts_finish')}", class: 'form-control' %>
              <% else %>
                <%= f.password_field :password, autocomplete: "new-password", placeholder: t('activerecord.attributes.user.password'), class: 'form-control' %>
              <% end %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: t('activerecord.attributes.user.password_confirmation'), class: 'form-control' %>
            </div>
            <div class="actions text-center">
              <%= f.submit "Изменить пароль", class: 'btn btn-warning m-1' %>
            </div>
            <div class="col-md-12 ">
              <div class="login-or">
                <hr class="hr-or">
                <span class="span-or">или</span>
              </div>
            </div>
            <div class="mt-4 mb-4 text-center">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </main>
      </section>
    </section>
  </section>
<% end %>


