<p><%= t('event_mailer.reset_password.greeting', recipient: @resource.email, :default => "Hello #{@resource.email}!") %></p>

<p><%= t('event_mailer.reset_password.instruction') %></p>

<p><%= link_to t('.action'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('event_mailer.reset_password.instruction_1') %></p>
<p><%= t('event_mailer.reset_password.instruction_2') %></p>
